aiohttp
aiohttp-retry
aiosignal
arabic-reshaper
asgiref
asn1crypto
async-timeout
attrs
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
cryptography
cssselect2
distlib
Django
django-appconf
django-decouple
django-image-cropping
django-imagekit
django-mathfilters
django-resized
django-social-share
easy-thumbnails
filelock
fonttools
frozenlist
html5lib
idna
lxml
multidict
numpy
oscrypto
packaging
pandas
pilkit
Pillow
platformdirs
pluggy
psycopg
psycopg2
pycparser
pydyf
pyHanko
pyhanko-certvalidator
PyJWT
pypdf
pyphen
pypng
pyproject-api
python-bidi
python-dateutil
python-decouple
pytz
PyYAML
qrcode
razorpay
reportlab
requests
six
sorl-thumbnail
sqlparse
svglib
tinycss2
tox
twilio
typing_extensions
tzdata
tzlocal
uritools
urllib3
virtualenv
virtualenvwrapper-win
weasyprint
webencodings
xhtml2pdf
yarl
zopfli

